
.contents {
    width: 80%;
    margin: 5% auto;
    color: grey;
    font-size: 18px;
}

.titleintro {
    font-weight: bolder;
    font-size: xx-large;
}

.subintro {
    font-weight: bolder;
    font-size: larger;
}

dt, a {
    font-size: 15px;
}

.intro {
    width: 80%;
    margin: auto;
    text-align: center;
}

img {
    width: 100%;
}

.backgroundpic {
    background-image: url("../images/y.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}