<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCBIS Dashboard</title>
    <link href="../static/css/callcentre.css" rel="stylesheet" />
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/world.js"></script>
{#    <script src="../static/js/echarts-5.0.1/dist/echarts.js"></script>#}
{#    <script src="../static/js/echarts-5.0.1/test/data/map/js/world.js"></script>#}
</head>
<body>
    <div id="title">Executive Dashboard of Call Centre Performance</div>
    <div id="kpis">
        <div class="txt">Open Tickets</div>
        <div class="txt">Processed Tickets</div>
        <div class="txt">1st Resolved</div>
        <div class="txt">% Satisfaction</div>
        <div class="txt">SLA%</div>
        <div class="txt">NPS Score</div>
        <div class="num">0</div>
        <div class="num">0</div>
        <div class="num">0</div>
        <div class="num">0</div>
        <div class="num">0</div>
        <div class="num">0</div>
    </div>
    <div id="symbolmap"></div>
    <div id="horizontalbars"></div>
    <div id="stackedbars"></div>
    <script src="../static/js/callcentre.js"></script>
</body>
</html>