<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
    <link href="../static/css/introduction.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="contents backgroundpic">
        <marquee><img src="../static/images/maqueendashboards.png" /></marquee>
        <div class="titleintro">Introduction</div><br>
        <p> &nbsp;&nbsp;&nbsp;&nbsp; There are many ways and BI tools to do the data visualization, such as Tableau, Power BI, SSRS and some cloud tools.
            Here is another way to do it. It's using Echarts as the visualization tool, HTML+CSS+JavaScript as frontend,
            Python Flask as backend, SQLAlchemy as ORM and SQL Server, MySQL as RDBMS.
        </p>
        <br>
		<div>
			<div class="subintro">Contact</div><br>
			<dl>
				<dt>Mike Yu</dt>
				<dd><a href="" style="text-decoration: none;color: grey;">mikeltct@hotmail.com</a></dd>
			</dl>
		</div>
    </div>
    <div>
        <div class="intro" style="border-bottom: 1px solid lightgray;">
            <img src="../static/images/techlogos.png" /><br><br>
        </div>
        <div class="contents">
            <div class="subintro">Dashboards</div>
        </div>
        <div class="intro" style="border-bottom: 1px solid dodgerblue;">
            <img src="../static/images/callcentre.png" />
        </div>
        <div class="intro" style="border-bottom: 1px solid lightseagreen;">
            <img src="../static/images/customerservice.png" />
        </div>
        <div class="intro" style="border-bottom: 1px solid palevioletred;">
            <img src="../static/images/financial.png" />
        </div>
    </div>
    <div class="contents">
        <div class="titleintro">Data Structure</div><br>
        <div class="subintro">Service Centre</div>
        <img src="../static/images/CCBISModel.png" /><br><br>
        <div class="subintro">Financial</div>
        <img src="../static/images/FinancialDiagram.png" /><br><br>
    </div>
</body>
</html>